# dependencies
node_modules
.pnpm-store

# build outputs
dist
.next
coverage
*.tsbuildinfo

# environment
.env
.env.local
.env.*.local
.env.backend
.env.backend.local
.env.frontend
.env.frontend.local
.env.infra
.env.infra.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# system
.DS_Store
Thumbs.db

# IDE
.idea
.vscode

# temp
tmp
temp
.cache
